{% extends "pages/base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <!-- <h1>{{ page.title }}</h1> -->
    
    {% for block in page.blocks.all %}
        {% if block.block_type == "header" %}
            <h2>{{ block.content }}</h2>
        {% elif block.block_type == "text" %}
            <p>{{ block.content|safe }}</p>
        {% elif block.block_type == "image" %}
            <img src="{{ block.content }}" alt="Image" style="max-width: 50%;">
        {% elif block.block_type == "list" %}
            <ul>
                {% for item in block.content.splitlines %} 
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% elif block.block_type == "link" %}
            <p><a href="{{ block.content }}" target="_blank">{{ block.content }}</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}
